body {
    font-family: "Montserrat";
}

/* first section */

#title {
    background-color: #ff4c68;
    color: white;
}

h1#title-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15% 11%;
}

/* navbar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: normal;
}

/* download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* mockup image */

.mockup-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* second section */
#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}
.feature {
    text-align: center;
    padding: 5%;
}

h3 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}
h3 + p {
    color: #8f8f8f;
}

.feauture-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}
.feauture-icon:hover {
    color: #ff4c68;
}

/* third section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* last section */

#cta {
    color: white;
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* footer */

#footer {
    padding: 7% 15%;
    background-color: white;
}
.footer-logo {
    margin: 20px 10px;
}

/* media queries */

@media (max-width: 991px) {
    #title {
        text-align: center;
    }
    .mockup-image {
        position: static;
        transform: rotate(0deg);
    }
}
